<main class="details">
    <table>
        <thead>
            <tr>
                <th>Mobile Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Iphone 13</td>
                <td>67890</td>
            </tr>
            <tr>
                <td>Samsung</td>
                <td>45000</td>
            </tr>
        </tbody>
    </table>
</main>