
<section class="company_details">
    <ul>
        ID:{{companyDetails.id}}
    </ul>
    <ul>
        Email:{{companyDetails.email}}
    </ul>
    <ul>
        UserName:{{companyDetails.username}}
    </ul>
    <ul>
        Address:{{companyDetails.address.city |json}}
    </ul>
    <ul>
        website:{{companyDetails.website}}
    </ul>
</section>