<section class="person_details">
    <ul>
        ID:{{userDetails.id}}
    </ul>
    <ul>
        Name:{{userDetails.name}}
    </ul>
    <ul>
        UserName:{{userDetails.username}}
    </ul>
</section>