<main class="root">
    <section class="links">
        <ul class="list">
            <a routerLink="users">Users</a>
            <a routerLink="prodcts">products</a>
        </ul>
    </section>
    <router-outlet></router-outlet>
</main>