<main class="user_home">
    <div class="home">
        <ng-container *ngFor="let user of users" class="user_home">
            <a [routerLink]="['/users',user.id]">
                <ul class="users">
                    {{user.name}}
                </ul>
            </a>
        </ng-container>
    </div>
    <router-outlet></router-outlet>
</main>